<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/main.css">

	<script type="text/javascript">
		$(document).ready(function(){

			$( "#form" ).submit(function(event) {
				event.preventDefault();

				$.ajax({
					type: 'POST',
					url: '/register',
					data: $('#form').serialize(),
					dataType: "json",
					success: function(response){
						//alert("a");
						//console.log(response.Success);
						$('#form')[0].reset();

						document.getElementById("check").innerHTML=response.Success;
         					//ADD THIS CODE
         					setTimeout(function(){
         						document.getElementById("check").innerHTML="";
         					},3000);
         					if (response.Success=="Success!") {
         						document.getElementById("aa").click();
         					};
         				},
         				error: function() {
         				}
         			})
			});

		});
	</script>
</head>
<body class="backgeron">
	<section class="vh-100 gradient-custom">
		<div class="container py-5 h-100">
		  <div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-12 col-md-8 col-lg-6 col-xl-5">
			  <div class="card bg-dark text-white" style="border-radius: 1rem;">
				<div class="card-body p-5 text-center">
	  
				  <div class="mb-md-5 mt-md-4 pb-5">
	  
					<h2 class="fw-bold mb-2 text-uppercase">lolita bot</h2>
					<p class="text-white-50 mb-5">selamat datang</p>
	  
					<div class="form-outline form-white mb-4">
					  <input type="email" id="typeEmailX" name="nowa" placeholder="No-Wa" required="" class="form-control form-control-lg" />
					  <label class="form-label" for="typeEmailX">nomor wa</label>
					</div>
	  
					<div class="form-outline form-white mb-4">
					  <input type="password" id="typePasswordX" name="password" placeholder="Password" class="form-control form-control-lg" />
					  <label class="form-label" for="typePasswordX">Password</label>
					</div>

					<div id="LangTable"><a href="/profile" id="aa"></a>
					</div>
					<p class="small mb-5 pb-lg-2"><a class="text-white-50" href="/forgetpass">lupa password?</a></p>
	  
					<button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
				  </div>
	  					<div class="mssg bg-danger">
						<span id="check" ></span>
					</div>
				  <div>
					<p class="mb-0">tidak punya akun? <a href="/register" class="text-white-50 fw-bold">Daftar</a></p>
				  </div>
	  
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </section>
</body>
</html>